.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: bisque;
  font-family: 'bree serif';
  padding: 5px 25px 5px 25px;
}

.app-name {
  font-size: 26px;
}

@media (max-width: 767px) {
  .app-name {
    font-size: 18px;
  }
}

.cart-container {
  background-color: white;
  padding: 0px 10px 0px 10px;
  border-radius: 18px;
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 20px;
}

.cart-count {
  font-size: 12px;
}
